<div class="content-layout">
  <h1 class="content__title">Usuarios</h1>

  <ul class="user-list">
    <% @users.each do |user| %>
      <li class="user-list-item">
        <div class="user-card-header">
          <div class="user-avatar">
            <%= user[:name].split.map { |n| n[0] }.join.upcase %>
          </div>
        </div>
        <div class="user-info">
          <strong><%= user[:name] %></strong>
          <span><%= user[:email] %></span>
          <% if user[:user_metadata]&.dig(:barista_level).present? %>
            <span class="barista-level">
              Nivel actual: <%= t(user[:user_metadata][:barista_level], scope: 'barista_levels', default: user[:user_metadata][:barista_level].humanize) %>
            </span>
          <% end %>
        </div>
        <%= link_to user_path(user[:user_id]) do %>
          <div class="user-card-footer">
            <span class="user-role">Ver Detalle</span>
          </div>
        <% end %>
      </li>
    <% end %>
  </ul>
</div>